@charset "UTF-8";
/*html全体CSS*/
html {
	width: 100%;
	margin: 0 auto 0 auto;
	box-sizing: border-box;
	background-color: #FEFFDE;
}

body {
	width: 100%;
}
/*月表示CSS*/
#month {
	text-align: center;
	font-size: 30px;
}

/*カレンダーCSS*/
.caltable {
	max-width: 100%;
	margin: 0 auto 0 auto;
	border-collapse: collapse;
	background-color: #FFFFF5;
}

/*カレンダー見出し（曜日）、日にちCSS*/
.caltable th, .caltable td {
	border: 1px solid #91C788;
	padding: 20px;
}

/*前月、翌月移動ボタンCSS*/
#move-button {
	text-align: center;
	display: flex;
	margin: 0 auto 0 auto;
	margin-top: 40px;
	margin-bottom: 30px;
	justify-content: center;
}

.migi-hidari{
	margin-top: 10px;
	margin-left: 60px;
	margin-right: 60px;
}

.hanamaru{
	background-image:url(../img/usuHanamaru.png);
	background-size: 60px;
    background-repeat: no-repeat;
}

