@charset "UTF-8";
html {
    /*width: 100%;*/
    margin: 0 auto 0 auto;
    box-sizing: border-box;

}
body {
    width: 100%;
    margin: 0 auto 0 auto;
}
.main_content {
	width: 88%;
    margin-left: 200px;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
}
/*カレンダー画像*/
.calendar {
    text-align: right;
}
#calendar {
    width: 80px;
    height: 70px;
}

/*目標まで○歩*/
.hosu {
    display: flex;
    font-size: 33px;
    padding-bottom: 100px;
    justify-content: center;
}

/*日付*/
#date{
	text-align: left;
    font-size: 20px;
    left: 20px;
    position: relative;
    bottom: 220px;
}

/*消費カロリーラベル*/
label {
    font-size: 22px;
    position: relative;
    bottom: 100px;
    left: 400px;
}

/*カロリーメーター*/
progress {
    width: 700px;
    height: 40px;
    position: relative;
    left: 320px;
    bottom: 65px;
}

/*結果kcal/ゴールkcal表示*/
.tasseido {
	right: 300px;
    font-size: 22px;
    position: relative;
    bottom: 65px;
    left: 1010px;
}

/*コメント*/
.randomcomment {
    position: relative;
    bottom: 250px;
    left: 30px;
    font-size: 19px;
    display: inline-block;
	margin: 1.5em 0;
	padding: 7px 10px;
	color: #555;
	background: #e0edff;
}

.randomcomment:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}

.randomcomment p {
  margin: 0;
  padding: 0;
}

/*マスコット*/
.chara{
	position: relative;
    bottom: 275px;
	left: 110px;
}

/*レベル表示*/
.nowlv{
	position: relative;
    bottom: 400px;
    left: 50px;
    font-size: 22px;
}
/*マップ表示*/
.map{
    position: relative;
    bottom: 280px;
}

p#my_leaflet{
	width: 85%;
	height: 450px;
	left: 110px;
}

/*今日の運動記録ラベル*/
.todayrecord{
	font-size: 25px;
    left: 70px;
    bottom: 250px;
    position: relative;
}

/*登録された運動記録表示*/
.actrec{
	font-size: 25px;
	right: 160px;
    bottom: 130px;
    position: relative;
}

/*削除のメッセージ*/
.resultmessage{
	position: relative;
    bottom: 240px;
    left: 120px;
}

.routerec{
	position: relative;
	bottom: 130px;
    right: 160px;
}

input[type="image"]{
	position: relative;
	left: 550px;
    bottom: 90px;
}