main >h2 {
    text-align: center;
}
main {
    text-align: left;
    font-size: 20px;
    line-height: 4;

    margin-top: 30px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: auto;

    padding-right: 420px;
    padding-left: 420px;
}
input {
    height: 30px;
}