main >h2 {
    text-align: center;
}
main {
    text-align: left;
    font-size: 20px;
    line-height: 4;

    margin-top: 30px;
    margin-bottom: auto;

    padding-right: 300px;
    padding-left: 300px;
}
.text {
    height: 30px;
}
.button {
	margin-left   : 500px;
}